version: '3.8'

services:
  gateway:
    build: ./gateway
    container_name: bank-gateway
    ports:
      - "8090:8090"
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      OAUTH2_JWK_SET_URI: http://keycloak:8080/realms/bank/protocol/openid-connect/certs
      OAUTH2_EXPECTED_ISSUER: http://localhost:8080/realms/bank
    depends_on:
      - consul
      - keycloak
      - accounts-service
    networks:
      bank-network:
        aliases:
          - gateway

  front-ui:
    build: ./front-ui
    container_name: bank-front-ui
    ports:
      - "8081:8081"
    environment:
      GATEWAY_BASE_URL: http://gateway:8090
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER_URI: http://localhost:8080/realms/bank
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_AUTH_URI: http://localhost:8080/realms/bank/protocol/openid-connect/auth
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_TOKEN_URI: http://keycloak:8080/realms/bank/protocol/openid-connect/token
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_JWK_SET_URI: http://keycloak:8080/realms/bank/protocol/openid-connect/certs
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_END_SESSION_URI: http://localhost:8080/realms/bank/protocol/openid-connect/logout
    depends_on:
      - consul
      - keycloak
      - accounts-service
    networks:
      - bank-network

  accounts-service:
    build: ./accounts-service
    container_name: bank-accounts-service
    ports:
      - "8082:8082"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/bank
      SPRING_DATASOURCE_USERNAME: bank
      SPRING_DATASOURCE_PASSWORD: bank123
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      KEYCLOAK_BASE_URL: http://keycloak:8080
      KEYCLOAK_REALM: bank
      KEYCLOAK_ADMIN_USERNAME: admin
      KEYCLOAK_ADMIN_PASSWORD: admin123
      NOTIFICATIONS_BASE_URL: http://notifications-service:8084
    depends_on:
      - postgres
      - consul
      - keycloak
    networks:
      - bank-network

  notifications-service:
    build: ./notifications-service
    container_name: bank-notifications-service
    ports:
      - "8084:8084"
    environment:
      SERVER_PORT: 8084
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
    depends_on:
      - consul
    networks:
      - bank-network

  cash-service:
    build: ./cash-service
    container_name: bank-cash-service
    ports:
      - "8083:8083"
    environment:
      SERVER_PORT: 8083
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/bank
      SPRING_DATASOURCE_USERNAME: bank
      SPRING_DATASOURCE_PASSWORD: bank123
    depends_on:
      - postgres
      - consul
    networks:
      - bank-network

  transfer-service:
    build: ./transfer-service
    container_name: bank-transfer-service
    ports:
      - "8085:8085"
    environment:
      SERVER_PORT: 8085
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/bank
      SPRING_DATASOURCE_USERNAME: bank
      SPRING_DATASOURCE_PASSWORD: bank123
      ACCOUNTS_BASE_URL: http://accounts-service:8082
      NOTIFICATIONS_BASE_URL: http://notifications-service:8084
    depends_on:
      - postgres
      - consul
      - accounts-service
      - notifications-service
    networks:
      - bank-network

  exchange-service:
    build: ./exchange-service
    container_name: bank-exchange-service
    ports:
      - "8086:8086"
    environment:
      SERVER_PORT: 8086
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/bank
      SPRING_DATASOURCE_USERNAME: bank
      SPRING_DATASOURCE_PASSWORD: bank123
      BASE_CURRENCY: RUB
    depends_on:
      - postgres
      - consul
    networks:
      - bank-network

  exchange-generator-service:
    build: ./exchange-generator-service
    container_name: bank-exchange-generator-service
    ports:
      - "8087:8087"
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      SERVER_PORT: 8087
      EXCHANGE_BASE_URL: http://exchange-service:8086
      BASE_CURRENCY: RUB
      TARGET_CURRENCIES: USD,CNY
      GENERATION_PERIOD_MS: 3000
    depends_on:
      - consul
    networks:
      - bank-network

networks:
  bank-network:
