replicaCount: 1

image:
  repository: postgres
  tag: "16-alpine"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5432

persistence:
  enabled: true
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  size: 1Gi

resources: {}

env:
  POSTGRES_DB: bank
  POSTGRES_USER: bank
  POSTGRES_PASSWORD: bank123
