apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "elk.fullname" . }}-logstash-pipeline
  labels:
    {{- include "elk.labels" . | nindent 4 }}
    app.kubernetes.io/component: logstash
data:
  logstash.conf: |
    input {
      kafka {
        bootstrap_servers => "{{ .Values.logstash.kafkaBootstrap }}"
        topics => ["{{ .Values.logstash.topic }}"]
        codec => "json"
        consumer_threads => 1
      }
    }
    filter { }
    output {
      elasticsearch {
        hosts => ["http://{{ include "elk.fullname" . }}-elasticsearch:{{ .Values.elasticsearch.service.port }}"]
        index => "service-logs-%{+YYYY.MM.dd}"
      }
      stdout { codec => rubydebug }
    }
