server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: front-ui

  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: ${SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER_URI:http://localhost:8080/realms/bank}
            authorization-uri: ${SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_AUTH_URI:http://localhost:8080/realms/bank/protocol/openid-connect/auth}
            token-uri: ${SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_TOKEN_URI:http://keycloak:8080/realms/bank/protocol/openid-connect/token}
            user-info-uri: ${SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_USERINFO_URI:}
            jwk-set-uri: ${SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_JWK_SET_URI:http://keycloak:8080/realms/bank/protocol/openid-connect/certs}
            user-name-attribute: ${SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_USER_NAME_ATTRIBUTE:preferred_username}
        registration:
          keycloak:
            client-id: ${SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENT_ID:front-ui}
            client-secret: ${SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENT_SECRET:}
            client-name: ${SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENT_NAME:Keycloak}
            authorization-grant-type: authorization_code
            redirect-uri: "${SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_REDIRECT_URI:{baseUrl}/login/oauth2/code/{registrationId}}"
            scope: ${SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_SCOPE:openid,profile,email}

app:
  accounts-base-url: ${ACCOUNTS_BASE_URL:http://localhost:8082}
  cash-base-url: ${CASH_BASE_URL:http://localhost:8083}
  transfer-base-url: ${TRANSFER_BASE_URL:http://localhost:8085}
  exchange-base-url: ${EXCHANGE_BASE_URL:http://localhost:8086}

management:
  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: b3
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_ENDPOINT:http://zipkin:9411/api/v2/spans}
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
  endpoints:
    web:
      exposure:
        include: health, info, refresh, prometheus
