server:
  port: ${SERVER_PORT:8085}

spring:
  application:
    name: transfer-service
  config:
    import: "optional:consul:"
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/bank}
    username: ${SPRING_DATASOURCE_USERNAME:bank}
    password: ${SPRING_DATASOURCE_PASSWORD:bank123}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: transfer
    open-in-view: false
app:
  blocker-base-url: ${BLOCKER_BASE_URL:http://blocker-service:8088}
  cloud:
    consul:
      host: ${SPRING_CLOUD_CONSUL_HOST:consul}
      port: ${SPRING_CLOUD_CONSUL_PORT:8500}
      discovery:
        health-check-path: /actuator/health
        health-check-interval: 10s
        prefer-ip-address: true
      config:
        enabled: true
        format: YAML
        prefixes: ${CONSUL_PREFIXES:config}
        default-context: application
        data-key: data
management:
  endpoints:
    web:
      exposure:
        include: health, info, refresh
