server:
  port: ${SERVER_PORT:8088}

spring:
  application:
    name: blocker-service

app:
  blocker:
    block-probability: ${BLOCK_PROBABILITY:0.3}

management:
  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: b3
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_ENDPOINT:http://zipkin:9411/api/v2/spans}
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
  endpoints:
    web:
      exposure:
        include: health, info, refresh, prometheus
