server:
  port: ${SERVER_PORT:8084}

spring:
  application:
    name: notifications-service
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:bank-kafka:9092}
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP:notifications-service}
      auto-offset-reset: latest
    listener:
      ack-mode: record
      observation-enabled: true
management:
  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: b3
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_ENDPOINT:http://zipkin:9411/api/v2/spans}
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
  endpoints:
    web:
      exposure:
        include: health, info, refresh, prometheus

app:
  kafka:
    notifications-topic: ${KAFKA_NOTIFICATIONS_TOPIC:notifications}
