server:
  port: ${SERVER_PORT:8084}

spring:
  application:
    name: notifications-service
  config:
    import: "optional:consul:"
  cloud:
    consul:
      host: ${SPRING_CLOUD_CONSUL_HOST:consul}
      port: ${SPRING_CLOUD_CONSUL_PORT:8500}
      discovery:
        health-check-path: /actuator/health
        health-check-interval: 10s
        prefer-ip-address: true
      config:
        enabled: true
        format: YAML
        prefixes: ${CONSUL_PREFIXES:config}
        default-context: application
        data-key: data
management:
  endpoints:
    web:
      exposure:
        include: health, info, refresh
