replicaCount: 1

image:
  repository: bank/exchange-service
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8086

resources: {}

env:
  SERVER_PORT: "8086"
  SPRING_DATASOURCE_URL: "{{ printf \"jdbc:postgresql://%s-postgres:5432/bank\" .Release.Name }}"
  SPRING_DATASOURCE_USERNAME: bank
  SPRING_DATASOURCE_PASSWORD: bank123
  BASE_CURRENCY: RUB
  KAFKA_BOOTSTRAP_SERVERS: "{{ printf \"%s-kafka:9092\" .Release.Name }}"
  KAFKA_RATES_TOPIC: "fx-rates"
  KAFKA_CONSUMER_GROUP: "exchange-service"
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: "{{ printf \"http://%s-keycloak:8080/realms/bank/protocol/openid-connect/certs\" .Release.Name }}"
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: "http://keycloak.127.0.0.1.nip.io/realms/bank"
  ZIPKIN_ENDPOINT: "http://bank-zipkin:9411/api/v2/spans"
  LOGS_KAFKA_BOOTSTRAP_SERVERS: "{{ printf \"%s-kafka:9092\" .Release.Name }}"
  LOGS_TOPIC: "service-logs"
  LOGS_KAFKA_ENABLED: "true"
