image:
  repository: prom/prometheus
  tag: "v2.54.1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9090

scrapeInterval: 15s
scrapeTimeout: 10s

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}
